@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #191A19;
    --cor-fundo-secundaria: #131413;
    --verde: #1E5128;
    --branco: #f3f3f3;
    --verde-claro: #4E9F3D;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --verde-amarelo: #D8E9A8;
    --verde-degrade: linear-gradient(98deg, #4E9F3D 35.49%, #191A19 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
